<<<<<<< HEAD
/* xl */
@media(max-width:1399px){
    .container{
        max-width: 1320px;
    }
}

/* lg */
@media(max-width:1199px){
    .container{
        max-width: 1140px;
    }
}

/* md */
@media(max-width:991px){
    .container{
        max-width: 720px;
    }
    .navbar-toggler{
        display: block;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }
}

/* sm */
@media(max-width:767px){
    .container{
        max-width: 540px;
    }
    .d-sm-none{
        display: none;
    }
    .col-sm-12{
        width: 100%;
    }
}

/* xs */
@media(max-width:575px){
    .container{
        max-width: 100%;
    }
=======
/* sm */
@media(min-width:576px){
    .container{
        max-width: 540px;
    }
    
}

/* md */
@media(min-width:768px){
    .container{
        max-width: 720px;
    }
    .col-md-6{
        width: 50%;
    }
}

/* lg */
@media(min-width:992px){
    .container{
        max-width: 960px;
    }
    .d-lg-flex{
        display: flex;
    }
    .navbar-toggler{
        display: none;
    }
    .hero{
        background-position: center;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-6{
        width: 50%;
    }
}

/* xl */
@media(min-width:1200px){
    .container{
        max-width: 1140px;
    }
>>>>>>> 2af4916e6216869b72f82eeb80a78e5fc9a5b4ab
}